.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centraliza verticalmente */
  align-items: center; /* centraliza horizontalmente */
  height: 100vh;
  background-color: var(--color-3);
}
.buttonsGroup {
  display: flex;
  gap: 3rem;
  margin: 10px;
}
.erase {
  outline: 1px solid red;
  background-color: var(--color-1);
  color: red;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: var(--color-1);
    background-color: red;
  }
}
.signup {
  outline: 1px solid var(--color-3);
  background-color: var(--color-1);
  color: var(--color-3);
  transition: all 0.2s ease-in-out;
  &:hover {
    color: var(--color-1);
    background-color: var(--color-3);
  }
}
