html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* evita scroll duplo na página */
}
.formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 👈 não centralizar verticalmente */

  gap: 0.8rem;
  padding: 20px;
  width: 100%;
  max-width: 320px;
  max-height: 90dvh; /* 👈 limite de altura */
  overflow-y: auto; /* rolagem interna */
  -webkit-overflow-scrolling: touch;

  background-color: var(--color-1);
  border-radius: 8px;
}
/* Inputs do form */
.formLogin input,
.formLogin textarea {
  font-style: italic;
  width: 100%;
  max-width: 200px;
  padding: 11px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--color-6);
  transition: all 0.1s ease-in-out;
  resize: none;
}
.formLogin input:hover,
.formLogin textarea:hover {
  border-bottom: 3px solid var(--color-3);
}
.formLogin input:focus,
.formLogin textarea:focus {
  border: 3px solid var(--color-3);
}

/* Botões do form */
.formLogin button {
  width: 75px;
  padding: 7px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Link no topo do form */
.formLogin > a {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--color-6);
}
.formLogin > a:hover {
  color: var(--color-3);
}
