.formLogin {
  position: relative;
  display: flex;
  flex-direction: column; /* empilha inputs e botões verticalmente */
  gap: 0.8rem; /* espaçamento entre elementos */
  background-color: var(--color-1);
  justify-content: center;
  align-items: center; /* centraliza horizontalmente todos os elementos */
  padding: 40px;
  max-width: 320px; /* limite do formulário */
  width: 100%;
  border-radius: 8px;
}

/* Inputs do form */
.formLogin input {
  font-style: italic;
  width: 100%; /* ocupa toda a largura do form, até o max-width do form */
  max-width: 200px; /* largura máxima para não ficar esticado */
  padding: 11px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--color-6);
  transition: all 0.1s ease-in-out;
  &:hover {
    border-bottom: 3px solid var(--color-3);
  }
  &:focus {
    border: 3px solid var(--color-3);
  }
}

/* Botões do form */
.formLogin button {
  width: 75px; /* largura fixa */
  padding: 7px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.formLogin > a {
  position: absolute;
  top: 10px; /* distância do topo */
  left: 10px; /* distância da esquerda */
  color: var(--color-6);
  &:hover {
    color: var(--color-3);
  }
}

/* Container dos botões (lado a lado) */
